:root {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
 height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html,
body {
  @media screen and (max-width: 800px) {
    font-size: 13px;
  }
}

html,
body {
  @media screen and (max-width: 500px) {
    font-size: 10px;
  }
}